body, br{background-color:#003388;background-size:cover;}
img {
  width: 17%;
  height: 40%;
margin:0px;
float:left;}
.text{width:40%;margin:5px;font-size:1.5em;float:left;}
.question select label {width:20%;margin:5px;font-size:1.5em;background-color:#003388; color:#ffffff}

.page{border:1px solid #000000; background-color:#003388; width:98%;color:#ffffff;
  height: 95%;
padding:10px;
margin:10px;
float:left;}
.thief{
  background-color: #ff0000;
background:url('sassa.jpg');
background-size:cover;}
.hidden{display:none}
.visible{display:block;}
