body, br{background-color:#003388;background-size:cover;}
.b {width:20%;margin:5px;font-size:2em;background-color:#666600; color:#ffffff}
.bb {width 12%;margin:5px;font-size:1.5em;background-color:#605694; color:#ffffff}

h1{color:#ffffff}
.text{width:40%;margin:5px;font-size:2em;}
.ech{color:#ffffff;font-size:3em;}

.page{border:1px solid #000000; background-color:#003388; width:98%;color:#ffffff;
height: 95%;
padding:10px;
margin:10px;
float:left;}
